extends layout

block content
        .row.center
          h5.header.col.s12.light Create custom polls with live results
        |       
        .row.center
          a#download-button.btn-large.waves-effect.waves-light.orange(href='/login') Login
        |       
        br
        br
