doctype html
html
  head

    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css', media='screen,projection')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Voting App
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
 
  body
    nav.purple(role='navigation')
      .nav-wrapper.container
        a#logo-container.brand-logo(href='/') Voting App           
        ul.right.hide-on-med-and-down
          li
            a(href='#') Login           
        ul#nav-mobile.side-nav(style='transform: translateX(-100%);')
          li
            a(href='#') Navbar Link           
        a.button-collapse(href='#', data-activates='nav-mobile')
          i.material-icons menu

    section#index-banner.section.no-pad-bot
    .container       
      h1.header.center.purple-text 
          =title             
      block content    
      
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')       
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
    <script src="https://use.fontawesome.com/0e5b461f74.js"></script>