extends layout
block content
    h1 Login
    form.col.s12(method='post', action="/users/login")       
        div.row
            input#email.validate(type='email', required="true", name='email')
            |                 
            label(for='email') Enter your email
            |             
        div.row
            input#password.validate(type='password', required="true", name='password')
            |                 
            label(for='password') Enter your password
            |               
    |             
    center
        button.col.s12.btn.btn-large.waves-effect.indigo(type='submit', name='btn_login') Login
    a(href="/auth/google") Login with google